.navbar {
    margin-bottom: 0;
    border-radius: 0;
}

.file {
    visibility: hidden;
    position: absolute;
}

/* Ensure the size of the image fit the container perfectly */
img {
    display: block;

    /* This rule is very important, please don't ignore this */
    max-width: 100%;
}

#upload-image {
    opacity: 0;
}

#upload-label {
    position: absolute;
    top: 50%;
    left: 2rem;
    transform: translateY(-50%);
}


input:focus {
    outline: none !important;
}

#canvas {
    width: 600px;
    height: auto;
}