{% extends "base.html" %}

{% block title %}{% endblock %}

{% block head %}
{{ super() }}
{% endblock %}

{% block page_content %}
<main role="main" class="container-fluid text-justify mt-5">
    <!-- Upload image input-->
    <div class="row mx-5">
        <div class="col mx-auto">
            <div class="input-group rounded-pill bg-white shadow px-4 py-2 mb-3">
                <input id="upload-image" class="form-control border-0" name="image" type="file"
                    accept=".png, .jpg, .jpeg, .jfif, .webp" onchange="readURL(this);">
                <label id="upload-label" for="upload-image" class="font-weight-light text-muted">Choose file</label>

                <div class="input-group-append">
                    <button type="submit" class="btn btn-primary rounded-pill px-3" id="buttonSearch">
                        <small class="text-uppercase font-weight-bold text-white">Search</small>
                    </button>
                </div>
            </div>
        </div>
    </div>

    <!-- Uploaded image area-->
    <div class="row">
        <div class="col mx-auto m-5">
            <canvas id="canvas">
                Your browser does not support the HTML5 canvas element.
            </canvas>
        </div>
    </div>

    <div id="predict-result" class="row d-flex justify-content-center mb-3">
        {{ result|safe }}
    </div>
</main>
<!-- /.container -->

{% endblock %}

{% block scripts %}
{{ super() }}
{% endblock %}